.task-item {
    display: flex;
    width: 640px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.task-item.completed {
    background-color:#ddd;
}

.task-name {
    width: 70%;
}

.task-status {
    width: 20%;
}

.task-delete {
    width: 10%;
}

.add-task-form {
    margin-left: 10px;
    padding: 6px;
}

input#task-name {
    width: 250px;
}

.add-task-form > button {
    margin-left: 5px;
}

.filter {
    text-align: right;
    width: 640px;
}

.filter-button {
    margin-left: 5px;
}

.filter-button:active {
    background-color: cadetblue;
}

button.clicked {
    background-color: cadetblue;
    /* cursor: not-allowed; */
}
